<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
 <link rel="stylesheet" href="{{ asset('./styles.css') }}">

</head>
<body>
    <nav>
    <ul>
        <li><a href="{{ path('about') }}" class="button">About</a></li>
        <li><a href="{{ path('homepage') }}" class="button">Home</a></li>
        <li><a href="{{ path('portfolio') }}" class="button">Portfolio</a></li>
    </ul>
</nav>

    {% block body %}{% endblock %}
</body>
</html>
